*{
    margin: 0;
}

.rule1, .rule2, .rule3{
    font-family: "Roboto Mono", monospace;
    font-size: calc(2px + 0.8vw);
    font-weight: normal;
    padding-left: 10%;
    border: 1px solid black;
    margin: 10px;
}

div.rule{
    display: flex;
    flex-direction: row;
}

div.rule1{
    padding-right: 5%;
}

div.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 5%;
}

div.game {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 500px;
    height:500px;
}

.game-cell {
    width: 90px;
    height: 90px;
    border: 0.5px solid black;
    box-sizing: border-box;
    display: grid; /* Enable stacking */
    place-items: center; /* Center images */
}


body{
    padding: 0;
    margin: 0;
}

.game-cell img{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rule1 img, .rule2 img, .rule3 img{
    width: 3%;
}
.hide{
    display: none;
}